
/*This page gonna be designed with flexbox*/
/*Principal container for all the page*/
.container-page {
    height: auto;
  	width: 100%;
  	overflow: hidden;

	/*Flexbox*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*Container that will contain the element with the data of this page*/
.container-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px;
}

/* navbar */

.top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover {
  color: #1ABB9C!important;
}

.navbar-nav .open .dropdown-menu {
  width: 230px;
}

.top_nav .dropdown-menu li a {
  padding: 3px 20px;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}



/*Element that will show the data of the page*/
/* jumbotron */
.element {
	position: relative;

	/* background */
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rbGMAGytlGjahhgrii/videoblocks-global-network-connection-in-digital-cyberspace-financial-or-social-abstract-background-animation-high-quality-4k-loopable-3d-rendering-suitable-for-cryptocurrency-financial-social-background_hqu3iehuf_thumbnail-full01.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	/* Shadows */
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	padding: 5%;
	
	/*flexbox*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}


/* Card */

.categories {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 50px;
}

/* Tables */
.table {
	margin-top: 50px;
	color: black;
}


/* title header */

.title {
	font-weight: 700;
	color: transparent;
	font-size:4vw;
	background: url("https://stmed.net/sites/default/files/texture-wallpapers-25324-3705615.jpg") repeat;
	background-position: 40% 50%;
	-webkit-background-clip: text;
	position: relative;
	text-align:center;
	line-height:7vw;
	letter-spacing: 5px;
  	font-family: cursive;
} 

/* Canvas */

#canvas {
	position: absolute; 
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    z-index: 0;
}


hr { 
	position: relative;
	border: 0; 
	width: 100%;
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

/* reserva */

.header_equip {
	color: white;
}

.equip {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5%;
}

.reserva {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.datapicker{
	width: 1000px;
}